<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>臺灣產業新勢力</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-4.0.0.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css">
	<link rel="preload" href="img/homebg1.jpg" as="image">
	<link rel="preload" href="img/homebg2.jpg" as="image">
	<link rel="preload" href="img/homebg3.jpg" as="image">
	<link rel="preload" href="img/homebg4.jpg" as="image">
  </head>
  <body>
	 <img class="addCart" src="img/addcart.png" alt="">
	 <i class="fas fa-bars"></i>
	<nav id="menu">
		<ul>
			<li><a href="#home">首　　頁</a></li>
			<li><a href="#about">關於我們</a></li>
			<li><a href="#event">最新活動</a></li>
			<li><a href="#shop">商品一覽</a></li>
			<li><a href="#contact">聯絡我們</a></li>
			<li><a class="form-link" href="#login">會員登入</a></li>
			<li class="cart"><a href="#cart">購物車</a></li>
		</ul>
	</nav>
	  <section id="home">
		<div class="container_fluid">
			<div class="row">
				<div class="col-sm-3 flex-center">
					<div class="page">
						<h2>/04</h2>
					</div>
				</div>
				<div class="col-sm-6 flex-center">
					<a href="#about">
						<div class="titlebx">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</a>
				</div>
				<div class="col-sm-3 flex-center">
					<div class="slogan">
						<ul>
							<li>網路電商風潮起</li>
							<li>新興產業開創新市場</li>
							<li>提供熱門販售平台 就在</li>
							<li>臺灣產業新勢力</li>
							<a class="btn btn-outline-light" href="#about">read more</a>
						</ul>
					</div>
				</div>
			</div>
		</div>	  
	  </section>
	  <!-- home -->
	  <section id="about">
	  	<div class="container_fluid flex-around">
			<div class="ab-box">
				<span>01</span>
				<div>
					<h2>網路平台興起</h2>
					<p>網路的興起早先是源自軍事「傳遞情報」的需求；如今已跨了一個世紀，網路橫向普及發展遠已超過前人所想像，從早期有商務意識的企業積極建立形象網站的時期，再到拍賣網站的風潮興起，近幾年國際社群網站進入台灣，在網路上的交易活動也越趨興盛。</p>
				</div>
			</div>	
			<div class="ab-box">
				<span>02</span>
				<div>
					<h2>臺灣產業新勢力</h2>
					<p>臺灣產業正在慢慢崛起，新一代的人們不斷創新/改良，加上「跨界電商」的竄紅，產業趨近國際化，也擁有了更多的販售通路，國人們也逐漸依賴網購。對於賣家來說，說的人多、懂的人卻很少，不少新興產業難以入手，原創產業也正在消失。</p>
				</div>
			</div>
			<div class="ab-box">
				<span>03</span>
				<div>
					<h2>我們的理想</h2>
					<p>許多台灣企業在原有的產業上想要更近一步追尋網路作為通路的企業卻不得其門而入。真正的原因或許是缺少了擁有整合能力的人才。為幫助這些臺灣產業，我們開創了新的網路平台，使許多品牌能將其商品上架。</p>
				</div>
			</div>
	  	</div>
	  </section>
	  <!-- about -->
	  <section id="event">
	  	<div class="container">
	  		<div class="row event-row">
				<div class="col-sm-6 grid-right">
					<div class="img-container">
						<div class="eventbx event-imgbx1" href="#event1"></div>
						<h4 class="event-name">01手做麵包</h4>
					</div>	
				</div>
				<div class="col-sm-6 grid-left">
					<div class="eventbx" href="#event1">
						<h3>手做麵包</h3>
						<p>剛出爐的麵包香氣四溢，帶著蓬鬆柔軟的口感，跟著師傅，你也可以做到...... <a href="#event1">查看更多</a></p>
					</div>
				</div>
			</div>
<!--			row1-->
	  		<div class="row event-row">
				<div class="col-sm-4 grid-right">
					<div class="eventbx" href="#event2">
						<h3>手工皂製作</h3>
						<p>無化學香氣，使用天然精油製作，使用後清爽又舒適，送禮自用兩相宜...... <a href="#event2">查看更多</a></p>
					</div>
				</div> 
				<div class="col-sm-4 grid-center">
					<div class="joinbx" id="event1">
						<h3>手做麵包</h3>
						<p>剛出爐的麵包香氣四溢，帶著蓬鬆柔軟的口感，跟著師傅，你也可以做到，線下麵包烘焙坊開課啦，快來學習如何做出美味的麵包吧。</p>
						<button class="btn form-link" href="#join">報名活動</button>
					</div>
					<div class="joinbx" id="event3">
						<h3>飾品DIY</h3>
						<p>精美飾品的飾品上帶著創作者獨一無二的印記，時尚與誠意兼具，給摯愛的人送上最好的禮物，讓他能無時無刻的想起你。</p>
						<button class="btn form-link" href="#join">報名活動</button>
					</div>
					<div class="joinbx" id="event2">
						<h3>手工皂製作</h3>
						<p>無化學香氣，使用天然精油製作，使用後清爽又舒適，送禮自用兩相宜，經過等待期，將提供免費配送服務，讓朋友、家人放鬆一下。</p>
						<button class="btn form-link" href="#join">報名活動</button>
					</div>
				</div>
				<div class="col-sm-4 grid-left">
					<div class="img-container">
						<div class="eventbx event-imgbx3"  href="#event3"></div>
						<h4 class="event-name">02飾品DIY</h4>
					</div>
				</div>
			</div>
<!--			row2-->
	  		<div class="row event-row">
				<div class="col-sm-6 grid-right">
					<div class="img-container">
						<div class="eventbx event-imgbx2" href="#event2"></div>
						<h4 class="event-name">03手工皂製作</h4>
					</div>
				</div>
				<div class="col-sm-6 grid-left">
					<div class="eventbx" href="#event3">
						<h3>飾品DIY</h3>
						<p>精美飾品的飾品上帶著創作者獨一無二的印記，給摯愛的人送上獨一無二...... <a href="#event1">查看更多</a></p>
					</div>
				</div>
			</div>
	  	</div>
	  </section>
	  <!-- event -->
	  <section id="shop">
	  	<div class="container_fluid">
		  <div class="row productContainer flex-center" id="app">
			  <div class="icon-bar">
			  	<a href="#home"><i class="fas fa-angle-double-up"></i></a>
				  <i class="fas fa-shopping-cart"></i>
				  <span class="num">{{num}}</span>
			  </div>
			  
			<div class="container pt-5">
				<div class="row">
					<div class="col-sm-3 flex-center">
						<h5>手工香皂/</h5>
						<select class="view-switch" name="" id="">
							<option value="1">大理石花紋-紫</option>
							<option value="2">大理石花紋-金</option>
							<option value="3">禮盒系列(四入)</option>
						</select>
					</div>
					<div class="col-sm-3 flex-center">
						<h5>3C產品/</h5>
						<select class="view-switch" name="" id="">
							<option value="4">智慧手錶</option>
							<option value="5">全罩式耳機</option>
							<option value="6">筆記型電腦</option>
						</select>
					</div>
					<div class="col-sm-3 flex-center">
						<h5>人氣美食/</h5>
						<select class="view-switch" name="" id="">
							<option value="7">雞蛋仔</option>
							<option value="8">五穀麵包</option>
							<option value="9">水果派</option>
						</select>
					</div>
					<div class="col-sm-3 flex-center">
						<h5>時尚百搭/</h5>
						<select class="view-switch" name="" id="">
							<option value="10">登山包</option>
							<option value="11">防水運動鞋</option>
							<option value="12">韓式耳環/耳夾</option>
						</select>
					</div>
				</div>
			  </div>
				<!-- selectContainer -->
				<div id="cart">
					<table class="table">
						<thead>
							<tr>
								<th colspan="4">購物車</th>
								<th class="cart-close" href="#cart">x</th>
							</tr>
						</thead>
						<tbody v-for="product in productInCart">
							<tr>
								<td colspan="3"><img :src="product.thumb" alt=""></td>
								<td>{{product.name}}</td>
								<td><button class="btn" @click="remove(product)">x</button></td>
							</tr>
							<tr>
								<td colspan="4">價格</td>
								<td>{{product.price}}</td>
							</tr>
							<tr>
								<td colspan="4">數量</td>
								<td>{{product.amount}}</td>
							</tr>
							<tr>
								<td colspan="4">小計</td>
								<td class="price">{{product.sum}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4">總計</td>
								<td class="total">${{total}}</td>
							</tr>
							<tr>
								<td>
									<button class="btn checkout">前往付款</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- cart -->
				<div class="col-sm-9 tab" v-for="product in products" :id=[product.id]>
					<div class="row">
						<div class="col-sm-5 pdimgbx flex-center">
							<span class="colorbox"></span>
							<img :src="product.thumb" alt="">
						</div>
						<div class="col-sm-7 grid-center">
							<div>
								<div>
									<h3>{{product.name}}</h3>
									<p>{{product.content}}</p>
								</div>
								<div>
									<h4>價格: {{product.price}} <span class="heart">&#10084;</span></h4>
								</div>
								<div class="actionbx flex-around">
									<div>
										<button class="btn round" @click="minusOne(product)">-</button>
										<span>&nbsp;{{product.amountShow}}&nbsp;</span>
										<button class="btn round" @click="addOne(product)">+</button>
										<button class="btn addToCart" @click="addToCart(product)">加入購物車</button>
									</div>
									<div class="pd-slogan flex-around">
										<img src="img/pd-slogan1.png" alt="">
										<img src="img/pd-slogan2.png" alt="">
										<img src="img/pd-slogan3.png" alt="">
										<img src="img/pd-slogan4.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 flex-center">
			  		<img class="process" src="img/process.png" alt="">
			  </div>
			</div>
			<!-- productContainer -->
			<div class="row block_container">
				<div class="block">
					<img href="#tab1" src="img/soap1.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab2" src="img/soap2.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab3" src="img/soap3.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab4" src="img/3c1.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab5" src="img/3c2.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab6" src="img/3c3.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab7" src="img/dessert1.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab8" src="img/bread1.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab9" src="img/cake1.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab10" src="img/pack1.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab11" src="img/shoes1.jpg" alt="">
				</div>
				<div class="block">
					<img href="#tab12" src="img/accessories1.jpg" alt="">
				</div>
			</div>
	  	</div>
	  </section>
	  <!-- shop -->
	  <section id="contact">
	  	<div class="container_fluid flex-around">
				<div class="info">
					<h1>Contact us</h1>
					<ul>
						<h4>店家資訊</h4>
						<li><i class="fas fa-phone"></i>客服電話: (02)1234-5678</li>
						<li><i class="fas fa-envelope"></i>客服信箱: a001@gmail.com</li>
						<li><i class="fas fa-headphones"></i>客服ID: a001</li>
					</ul>
					<ul>
						<h4>會員福利</h4>
						<li>加入送全館7折優惠</li>
						<li>全館任選商品免運費</li>
						<li></li>
					</ul>
					<ul>
						<h4>訂閱我們</h4>
						<label for="">信箱:</label>
						<input type="text">
						<button class="btn btn-outline-light checkout">訂閱</button>
					</ul>
				</div>
				<form class="contactbx">
					<h2>聯絡我們</h2>
					<div class="form-group">
						<label for="">姓名</label>
						<input type="text">
					</div>
					<div class="form-group">
						<label for="">電話</label>
						<input type="text">
					</div>
					<div class="form-group">
						<label for="">信箱</label>
						<input type="text">
					</div>
					<div class="form-group">
						<label for="">意見回饋</label>
						<textarea></textarea>
					</div>
					<div class="form-group flex-around">
						<button class="btn btn-outline-light checkout" type="submit">送出</button>
						<button class="btn btn-outline-light" type="reset">清空</button>
					</div>
				</form>
	  	</div>
	  </section>
	  <!-- contact -->
	  <div class="form-container"></div>
		  <form action="" class="lightbox" id="login">
			<h3>會員登入</h3>
			<div class="form-group">
				<label for="">帳號</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<label for="">密碼</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<p>還沒有帳號? <a class="form-link" href="#reg">註冊</a></p>
				<p>使用其他帳號登入</p>
				<div class="flex-around social">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-line"></i>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-secondary checkout">登入</button>
				<a href="#login" class="btn btn-secondary close-form">關閉</a>
			</div>
		</form>
		<form action="" class="lightbox" id="reg">
			<h3>會員註冊</h3>
			<div class="form-group">
				<label for="">姓名</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<label for="">信箱</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<label for="">帳號</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<label for="">密碼</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<p>已有帳號? <a href="#login" class="form-link">登入</a></p>
			</div>
			<div class="form-group">
				<button class="btn btn-secondary checkout">註冊</button>
			  <a href="#reg" class="btn btn-secondary close-form">關閉</a>
			</div>
		</form>
		<form action="" class="lightbox" id="join">
			<h3>活動報名</h3>
			<div class="form-group">
				<label for="">姓名</label>
				<input type="text">
			</div>
			<div class="form-group">
				<label for="">電話</label>
				<input type="text">
			</div>
			<div class="form-group flex-around">
				<select name="" id="" class="form-control w-75">
					<option value="">報名種類</option>
					<option value="">手做麵包</option>
					<option value="">飾品DIY</option>
					<option value="">手工皂製作</option>
				</select>
			</div>
			<div class="form-group">
				 <label for="">報名人數</label>
			   <input type="number" max="10" min="1">
			</div>
			<div class="form-group">
				<button class="btn btn-secondary checkout">報名</button>
			  <a href="#join" class="btn btn-secondary close-form">關閉</a>
			</div>
		</form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.2.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.0.0.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/cart.js"></script>
	<script src="js/all.js"></script>
  </body>
</html>
